---
layout: default
title: Index
---

<h1>Example Styles for Paper Lantern</h1>

<div class="row">
    {% for page in site.pages | where:"theme","paper_lantern" | sort: "title" %}
    {% unless page.url == '/index.html' %}
    <div class="cpanel_style col-sm-3">
        <img class="img-thumbnail" src="{{ site.url | append: "/styled" | append: page.url | append: "preview.png" }}" />
        <h3>{{ page.title }}</h3>
        <caption>
            {{page.description}}
            <dl class="style_info">
                <dt>Application</dt>
                <dd>{{page.application}}</dd>
                <dt>Theme</dt>
                <dd>{{page.theme}}</dd>
                <dt>Min cPanel Version</dt>
                <dd>{{page.minimum_cpanel_version}}</dd>
                <dt>Max cPanel Version</dt>
                <dd>{{page.maximum_cpanel_version}}</dd>
            </dl>
        </caption>
    </div>
    {% endunless %}
    {% endfor %}
</div> <!-- end: row -->

{% include modal_footer.html %}
