.icon-bandwidth,.icon-virus_scanner,.icon-migrate_x3_sprite_filenames_to_paper_lantern_sprite_filenames.pl,.icon-disk_usage,.icon-webalizer,.icon-apache_spam_assassin,.icon-mailing_lists,.icon-errors,.icon-php_my_admin,.icon-ssh_access,.icon-raw_access,.icon-mysql_database_wizard,.icon-user_filters,.icon-webalizer_ftp,.icon-api_shell,.icon-track_dns,.icon-address_importer,.icon-encryption,.icon-file_manager,.icon-mx_entry,.icon-images,.icon-cron_jobs,.icon-logaholic,.icon-leech_protection,.icon-authentication,.icon-ssl_tls,.icon-indexes,.icon-visitors,.icon-track_delivery,.icon-simple_zone_editor,.icon-security_policy,.icon-advanced_zone_editor,.icon-default_address,.icon-site_software,.icon-hotlink_protection,.icon-ftp_connections,.icon-web_disk,.icon-php_pg_admin,.icon-archive,.icon-remote_mysql,.icon-apache_handlers,.icon-addon_domains,.icon-error_pages,.icon-ftp_accounts,.icon-directory_privacy,.icon-accounts,.icon-perl_modules,.icon-boxtrapper,.icon-redirects,.icon-forwarders,.icon-support,.icon-analog_stats,.icon-backup,.icon-php_pear_packages,.icon-mime_types,.icon-php,.icon-web_host_manager,.icon-postgresql_databases,.icon-awstats,.icon-mysql_databases,.icon-ruby_on_rails,.icon-ruby_gems,.icon-aliases,.icon-optimize_website,.icon-postgresql_database_wizard,.icon-ip_blocker,.icon-global_filters,.icon-metrics_editor,.icon-anonymous_ftp,.icon-subdomains,.icon-cpu_and_concurrent_connection_usage,.icon-backup_wizard,.icon-autoresponders { background-image: url('./icon_spritemap.png?92426375'); background-repeat: no-repeat; }
.icon-bandwidth { background-position: -60px -5px; width: 32px; height: 32px; }
.icon-virus_scanner { background-position: -5px -49px; width: 32px; height: 32px; }
.icon-migrate_x3_sprite_filenames_to_paper_lantern_sprite_filenames.pl { background-position: -430px -5px; width: px; height: px; }
.icon-disk_usage { background-position: -47px -49px; width: 32px; height: 32px; }
.icon-webalizer { background-position: -102px -5px; width: 32px; height: 32px; }
.icon-apache_spam_assassin { background-position: -5px -91px; width: 46px; height: 32px; }
.icon-mailing_lists { background-position: -102px -47px; width: 32px; height: 32px; }
.icon-errors { background-position: -61px -91px; width: 32px; height: 32px; }
.icon-php_my_admin { background-position: -5px -5px; width: 45px; height: 34px; }
.icon-ssh_access { background-position: -144px -5px; width: 37px; height: 32px; }
.icon-raw_access { background-position: -144px -47px; width: 32px; height: 32px; }
.icon-mysql_database_wizard { background-position: -60px -343px; width: 45px; height: 31px; }
.icon-user_filters { background-position: -144px -89px; width: 32px; height: 32px; }
.icon-webalizer_ftp { background-position: -5px -133px; width: 32px; height: 32px; }
.icon-api_shell { background-position: -47px -133px; width: 32px; height: 32px; }
.icon-track_dns { background-position: -89px -133px; width: 32px; height: 32px; }
.icon-address_importer { background-position: -131px -133px; width: 32px; height: 32px; }
.icon-encryption { background-position: -191px -5px; width: 32px; height: 32px; }
.icon-file_manager { background-position: -191px -47px; width: 32px; height: 32px; }
.icon-mx_entry { background-position: -191px -89px; width: 32px; height: 32px; }
.icon-images { background-position: -191px -131px; width: 32px; height: 32px; }
.icon-cron_jobs { background-position: -5px -175px; width: 32px; height: 32px; }
.icon-logaholic { background-position: -47px -175px; width: 32px; height: 32px; }
.icon-leech_protection { background-position: -89px -175px; width: 32px; height: 32px; }
.icon-authentication { background-position: -131px -175px; width: 32px; height: 32px; }
.icon-ssl_tls { background-position: -173px -175px; width: 32px; height: 32px; }
.icon-indexes { background-position: -233px -5px; width: 32px; height: 32px; }
.icon-visitors { background-position: -233px -47px; width: 32px; height: 32px; }
.icon-track_delivery { background-position: -233px -89px; width: 32px; height: 32px; }
.icon-simple_zone_editor { background-position: -233px -131px; width: 32px; height: 32px; }
.icon-security_policy { background-position: -233px -173px; width: 32px; height: 32px; }
.icon-advanced_zone_editor { background-position: -5px -217px; width: 32px; height: 32px; }
.icon-default_address { background-position: -47px -217px; width: 32px; height: 32px; }
.icon-site_software { background-position: -89px -217px; width: 32px; height: 32px; }
.icon-hotlink_protection { background-position: -131px -217px; width: 32px; height: 32px; }
.icon-ftp_connections { background-position: -173px -217px; width: 32px; height: 32px; }
.icon-web_disk { background-position: -215px -217px; width: 32px; height: 32px; }
.icon-php_pg_admin { background-position: -275px -5px; width: 50px; height: 32px; }
.icon-archive { background-position: -275px -47px; width: 32px; height: 32px; }
.icon-remote_mysql { background-position: -115px -343px; width: 45px; height: 31px; }
.icon-apache_handlers { background-position: -280px -343px; width: 45px; height: 30px; }
.icon-addon_domains { background-position: -275px -89px; width: 33px; height: 32px; }
.icon-error_pages { background-position: -275px -131px; width: 32px; height: 32px; }
.icon-ftp_accounts { background-position: -275px -173px; width: 32px; height: 32px; }
.icon-directory_privacy { background-position: -275px -215px; width: 32px; height: 32px; }
.icon-accounts { background-position: -5px -259px; width: 32px; height: 32px; }
.icon-perl_modules { background-position: -47px -259px; width: 32px; height: 32px; }
.icon-boxtrapper { background-position: -89px -259px; width: 35px; height: 32px; }
.icon-redirects { background-position: -134px -259px; width: 33px; height: 32px; }
.icon-forwarders { background-position: -177px -259px; width: 32px; height: 32px; }
.icon-support { background-position: -219px -259px; width: 32px; height: 32px; }
.icon-analog_stats { background-position: -261px -259px; width: 32px; height: 32px; }
.icon-backup { background-position: -335px -5px; width: 32px; height: 32px; }
.icon-php_pear_packages { background-position: -335px -47px; width: 32px; height: 32px; }
.icon-mime_types { background-position: -335px -89px; width: 32px; height: 32px; }
.icon-php { background-position: -335px -131px; width: 32px; height: 32px; }
.icon-web_host_manager { background-position: -5px -301px; width: 45px; height: 32px; }
.icon-postgresql_databases { background-position: -335px -173px; width: 32px; height: 32px; }
.icon-awstats { background-position: -335px -215px; width: 32px; height: 32px; }
.icon-mysql_databases { background-position: -170px -343px; width: 45px; height: 31px; }
.icon-ruby_on_rails { background-position: -335px -257px; width: 32px; height: 32px; }
.icon-ruby_gems { background-position: -60px -301px; width: 32px; height: 32px; }
.icon-aliases { background-position: -102px -301px; width: 32px; height: 32px; }
.icon-optimize_website { background-position: -144px -301px; width: 32px; height: 32px; }
.icon-postgresql_database_wizard { background-position: -225px -343px; width: 45px; height: 31px; }
.icon-ip_blocker { background-position: -186px -301px; width: 32px; height: 32px; }
.icon-global_filters { background-position: -228px -301px; width: 32px; height: 32px; }
.icon-metrics_editor { background-position: -270px -301px; width: 32px; height: 32px; }
.icon-anonymous_ftp { background-position: -312px -301px; width: 32px; height: 32px; }
.icon-subdomains { background-position: -377px -5px; width: 43px; height: 32px; }
.icon-cpu_and_concurrent_connection_usage { background-position: -377px -47px; width: 32px; height: 32px; }
.icon-backup_wizard { background-position: -5px -343px; width: 45px; height: 32px; }
.icon-autoresponders { background-position: -377px -89px; width: 32px; height: 32px; }