/*
# Retro Style for cPanel Paper Lantern

Roughly speaking, this stylesheet is organized based on precedence.
Native HTML elements, Bootstrap elements, then cpanel-specific classes,
then #id overrides

X3 isn't known for its consistency, so here's a rough guess at some
style guidelines.

### Colors:
 * dark teal - #194C5D
 * eggshell - #E6E6E6

### Fonts:
 * verdana, arial, helvetica, sans-serif
 *~10px font-size, highly variable though

*/

/* ## Native HTML Elements */
body, h1, h2, h3, h4, h5, h6 {
    font-family: verdana, arial, helvetica, sans-serif;
    line-height: inherit;
}

h1, h2 {
    font-size:12px;
    font-weight:bold;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top:5px;
}

body {
    background: #194C5D; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(25,76,93,1) 0%, rgba(230,230,230,1) 72%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,76,93,1)), color-stop(72%,rgba(230,230,230,1)));
    background: -webkit-linear-gradient(top, rgba(25,76,93,1) 0%,rgba(230,230,230,1) 72%);
    background: -o-linear-gradient(top, rgba(25,76,93,1) 0%,rgba(230,230,230,1) 72%);
    background: -ms-linear-gradient(top, rgba(25,76,93,1) 0%,rgba(230,230,230,1) 72%);
    background: linear-gradient(to bottom, rgba(25,76,93,1) 0%,rgba(230,230,230,1) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194c5d', endColorstr='#e6e6e6',GradientType=0 );
    background-attachment: fixed;
    padding-top:10px;
}

a {
    color:#014d5f;
}

a:hover {
    color:#f3960b;
}

header {
    /* using this for the cpanel masthead */
    margin-bottom:0;
    background:url(/styled/current_style/top-logo_opt.png) transparent;
    background-position: right center;
    background-repeat:no-repeat;
}

aside {
    margin-top:5px;
    padding-left:0;
    margin-left:0;
}

aside td, aside th {
    padding-left:5px;
    padding-right:5px;
}

aside form label, .section-header {
    width:100%;
    padding:0;
    background: url(/styled/current_style/tbl-bg.jpg) repeat-x bottom; /* old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,216,210,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(226,216,210,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2d8d2',GradientType=0 );

    text-align: center;
    border-radius:0;
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    font-size:12px;
    font-weight:bold;
}

aside form label {
    margin-left:-1px;
}

footer {
    margin:15px auto 0 auto;
    font-size:10px;
    height:222px;
    min-height:222px;
    background:none;
}

table {
    border:1px solid #CCCCCC;
}

table table {
    border:none;
}

tbody {
    font-size:10px !important;
}

th {
    font-size:12px;
    font-weight:bold;
    padding:4px;
}

aside form label {
    background:url(/styled/current_style/tbl-bg.jpg) repeat-x bottom;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,216,210,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(226,216,210,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2d8d2',GradientType=0 );

    text-align: center;
    border-radius:0;
    border-bottom:1px solid #CCCCCC;
    font-size:12px;
    font-weight:bold;
}


/* ## Bootstrap elements */
header .container {
    width:inherit;
    height:117px;
}

header .navbar-inverse {
    background:none;
    border:none;
}

header .navbar-fixed-top {
    position:relative;
    top:inherit;
    width:inherit;
}

footer .container {
    width:750px;
}

.nav>li>a:hover, .nav>li>a:focus {
    background:none;
    text-decoration: underline;
}

table .btn, table button {
    padding:6px;
}

.form-control {
    font-size:12px;
}

.navbar-preferences {
    margin:0;
    padding:0;
    position:absolute;
    top:-12px;
    right:0px;
}
html[dir="rtl"] .navbar-preferences {
    right:-16px;
}

.navbar-preferences .btn .caret {
    margin-left:3px;
}

.navbar-preferences .btn-primary, .navbar-preferences .btn {
    color:#AAAAAA;
}

.navbar-preferences .btn, .navbar-preferences button {
    background:none;
    border:none;
    margin-right:0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color:#000000;
    background:none;
}

aside .form-group {
    padding-bottom:5px;
}

aside .form-group select {
    margin-left:5px;
    width:95%;
}

button, .btn {
    font-size:12px;
    font-weight:bold;
    border-style: outset;
    box-shadow:none;
    border-radius:0;
    border-width: 3px;
}
span.input-group-addon {
    border:0;
    background:inherit;
}

aside .form-group {
    border:1px solid #CCCCCC;
}


/* ## cPanel-specific classes */

.cellbox-header {
    width:100%;
    padding:0;
}

.cellbox-body {
    padding-top:5px;
    padding-bottom:30px;
}

.item {
    width:72px;
    font-size:10px;
    height:68px;
}

.group-header {
    width:100%;
    font-size:12px;
}

.cellbox {
    border:1px solid #CCCCCC;
}

.cellbox-header {
    background: url(/styled/current_style/tbl-bg.jpg) repeat-x bottom; /* old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,216,210,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(226,216,210,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(226,216,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2d8d2',GradientType=0 );

    text-align: center;
    border-radius:0;
    border-bottom:1px solid #CCCCCC;
    font-size:12px;
    font-weight:bold;
}

.description {
    font-style:italic;
}

/* ## ID overrides */

#wrap {
    width:750px;
    padding:15px 15px 30px 15px;
    background:url(/styled/current_style/heading_sprites_compleximg.jpg) top left #FFFFFF;
    background-repeat: no-repeat;
    border:4px solid #FFFFFF;
}

#sub {
    width:34%;
}

#content {
    width:713px;
    margin:0;
    padding:0;
}

#main {
    width:66%;
    padding-left:0;
    margin-left:0;
}

#lnkHeaderHome {
    /* using this for the HOME icon */
    /* if you're looking for the cpanel masthead, see .header */
    position:relative;
    top:-13px;
    left:-10px;
    height:35px;
    width:35px;
    background:url(/styled/current_style/heading_sprites_img.png);
    background-position: 0 -75px;
}
html[dir="rtl"] #lnkHeaderHome {
    left:-25px;
}

#lnkHeaderHome img {
    display:none;
}

#boxes {
    margin-top:-5px; /* to line up #boxes top border with top of the sidebar */
}

#newsContent {
    border-bottom:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    font-size:12px;
}

#main .section {
    padding:10px;
    margin-bottom:15px;
}

#lnkHeaderLogout {
    padding-left:0;
    padding-right:0;
    margin-right:-8px;
}

#lblLogout, #lblUserNameTxt {
    display:none;
}

#boxes {
    font-size:12px;
}

#content-stats-end {
    font-size:10px;
}

/* preventing Right to Left adaptation because X3 doesn't do that */
html[dir="rtl"] .navbar>.container .navbar-brand {
    float:left;
}

/* TODO */
#quickLinks, #jump-search {
    display:none;
}
